body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.landpageh1 {
    padding-top: 50px;
    font-weight: 900;
    font-size: 120px;
}


/* form {
    padding-top: 50px;
} */

#p2-eating {
    display: none;
}

#p2-travelling {
    display: none;
}

#cfcalcdiv {
    display: none;
    padding-top: 50px;
}

.ex1 {
    padding-top: 50px;
}

div.leftAllign {
    text-align: left;
}

.bx--inline-notification {
    background-color: #181b20;
    color: white;
}

.bx--inline-notification__close-button {
    color: white;
}