body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.landpageh1 {
    padding-top: 50px;
    font-weight: 900;
    font-size: 120px;
}

form {
    padding-top: 50px;
}

#p2-eating {
    display: none;
}

#p2-travelling {
    display: none;
}

#cfcalcdiv {
    display: none;
    padding-top: 50px;
}

.ex1 {
    padding-top: 50px;
}